<div class="card" style="width: 18rem;margin-top: 15px;margin-bottom: 15px">
    <div class="card-body">
      <h5 class="card-title">Genera una nueva encuesta</h5>
      <p class="card-text">Generar una nueva encuesta</p>
      <a href="#" class="btn btn-primary">Vamos</a>
    </div>
  </div>


  <div class="card-columns">

      <div class="card border-primary mb-3" style="max-width: 18rem;" *ngFor="let survey of surveys;">
          <div class="card-header">{{ survey.author}}</div>
          <div class="card-body text-primary">
            <h5 class="card-title">{{ survey.title }}</h5>
            <p class="card-text">{{survey.isactive}}</p>
            <a href="#" class="btn btn-primary">Agregar preguntas</a>
          </div>
        </div>
  </div>
